body {
  background-color: #6eccc0;
  color: black;
  font-family: 'Rubik', sans-serif;
}

.head {
  padding: 1%;
  border: solid;
  border-color: black;
  background-color: #4281A4;
  color: black;
  margin: thin;
}

.note {
  font-style: italic;
}

h1 {
  text-align: center; 
}

p {
  text-align: center;
}

form {
  align-items: center;
  padding: 3%;
  font-weight: bold;
}

legend {
  padding: 1%;
  font-weight: bold;
}

.results-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  color: #261447;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
}

.results-table caption {
  background-color: #4281A4;
  color: #261447;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  padding: 12px 15px;
}

.results-table thead tr {
  background-color: #4281A4;
  color: #261447;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  font-size: large;
}

.results-table th,
.results-table td {
    padding: 12px 15px;
    text-align: center;
}

.results-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.results-table tbody tr:nth-of-type(even) {
  background-color: #4281A4;
}

.results-table tbody tr:last-of-type {
  border-bottom: 2px solid #0A81D1;
}

.results-table tbody tr.active-row {
  font-weight: bold;
  color: #0A81D1;
}